<div class="layout layout--top layout--stretch-x">
  <table class="table table--small">
  <thead>
    <tr>
      <th><span class="title">{% render "icon_walk" %}</span></th>
      <th><span class="title">Abfahrt</span></th>
      <th><span class="title">Verspätung</span></th>
      <th><span class="title">Richtung</span></th>
      <th><span class="title">Linie</span></th>
    </tr>
  </thead>
  <tbody>
    {% for item in departures | limit: 5 %}
    {% assign seconds_to_stop = trmnl.plugin_settings.custom_fields_values.minutesToStation | times: 60 %}
    {% assign delay_minutes = item.delay | divided_by: 60 %}
    <tr>
      <td><span class="label">{{ item.when | date: "%s" | plus: trmnl.user.utc_offset | minus: seconds_to_stop | date: "%H:%M" }}</span></td>
      <td><span class="label">{{ item.plannedWhen | date: "%H:%M" }}</span></td>
      <td>
        {% if item.delay > 0 %}
        <span class="label label--inverted">+{{ delay_minutes }}m</span>
        {% else %}
        <span class="label label--gray">±0</span>
        {% endif %}
      </td>
      <td><span class="label">{{ item.direction }}</span></td>
      <td><span class="label">{{ item.line.name }}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="title_bar">
  {% case trmnl.plugin_settings.custom_fields_values.provider %}
  {% when 'BSAG' %}
  {% render "logo_bsag" %}
  {% else %}
  {% render "logo_vbn" %}
  {% endcase %}
  <span class="title">{{ trmnl.plugin_settings.custom_fields_values.provider }} - {{ departures[0].stop.name | truncate: 45 }}</span>
  <span class="instance">{{ realtimeDataUpdatedAt | date: '%s' | plus: trmnl.user.utc_offset | date: "%H:%M" }}</span>
</div>