<div class="layout layout--top layout--stretch-x">
  <table class="table table--small">
    <thead>
      <tr>
        <th><span class="title title--small">{% render "icon_walk" | size: 20 %}</span></th>
        <th><span class="title title--small">Abfahrt</span></th>
        <th><span class="title title--small">Richtung</span></th>
        <th><span class="title title--small">Linie</span></th>
      </tr>
    </thead>
    <tbody>
      {% for item in departures limit: 5 %}
      {% assign seconds_to_stop = trmnl.plugin_settings.custom_fields_values.minutesToStation | times: 60 %}
      {% assign delay_minutes = item.delay | divided_by: 60 %}
      <tr>
        <td><span class="label">{{ item.when | date: "%s" | plus: trmnl.user.utc_offset | minus: seconds_to_stop | date: "%H:%M" }}</span></td>
        <td>
          <span class="label label--small">{{ item.plannedWhen | date: "%H:%M" }}</span>
          {% if item.delay > 0 %}
          <span class="label label--small label--inverted">+{{ delay_minutes }}m</span>
          {% endif %}
        </td>
        <td><span class="label">{{ item.direction | truncate: 21 }}</span></td>
        <td><span class="label label--small">{{ item.line.name }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="title_bar">
  {% case trmnl.plugin_settings.custom_fields_values.provider %}
  {% when 'BSAG' %}
  {% render "logo_bsag" | size: 24 %}
  {% else %}
  {% render "logo_vbn" | size: 24 %}
  {% endcase %}
  <span class="title">{{ departures[0].stop.name | truncate: 45 }}</span>
  <span class="instance">{{ realtimeDataUpdatedAt | date: '%s' | plus: trmnl.user.utc_offset | date: "%H:%M" }}</span>
</div>