{% template departures_table %}
{% if size == "large" %}
	{% assign table_class = "table--large" %}
	{% assign row_limit = 7 %}
{% else %}
	{% assign table_class = "table--small" %}
	{% assign row_limit = 5 %}
{% endif %}

{% if compact %}
	{% assign title_class = "title--small" %}
	{% assign icon_size = 20 %}
	{% assign logo_size = 24 %}
	{% assign show_delay_column = false %}
	{% assign show_provider = false %}
{% else %}
	{% assign title_class = "" %}
	{% assign icon_size = 0 %}
	{% assign logo_size = 0 %}
	{% assign show_delay_column = true %}
	{% assign show_provider = true %}
{% endif %}

<div class="layout layout--top layout--stretch-x">
	<table class="table {{ table_class }}">
		<thead>
		<tr>
			<th><span class="title {{ title_class }}">{% render "icon_walk", size: icon_size %}</span></th>
			<th><span class="title {{ title_class }}">Abfahrt</span></th>
			{% if show_delay_column %}
				<th><span class="title {{ title_class }}">Verspätung</span></th>
			{% endif %}
			<th><span class="title {{ title_class }}">Richtung</span></th>
			<th><span class="title {{ title_class }}">Linie</span></th>
		</tr>
		</thead>
		<tbody>
		{% for item in departures limit: row_limit %}
			{% assign seconds_to_stop = trmnl.plugin_settings.custom_fields_values.minutesToStation | times: 60 %}
			{% assign delay_minutes = item.delay | divided_by: 60 %}
			<tr>
				<td><span class="label">{{ item.when | date: "%s" | plus: trmnl.user.utc_offset | minus: seconds_to_stop | date: "%H:%M" }}</span></td>
				{% if show_delay_column %}
					<td><span class="label">{{ item.plannedWhen | date: "%H:%M" }}</span></td>
					<td>
						{% if item.delay > 0 %}
							<span class="label label--inverted">+{{ delay_minutes }}m</span>
						{% else %}
							<span class="label label--gray">±0</span>
						{% endif %}
					</td>
				{% else %}
					<td>
						<span class="label label--small">{{ item.plannedWhen | date: "%H:%M" }}</span>
						{% if item.delay > 0 %}
							<span class="label label--small label--inverted">+{{ delay_minutes }}m</span>
						{% endif %}
					</td>
				{% endif %}
				<td><span class="label">{{ item.direction }}{% if compact %} | truncate: 21{% endif %}</span></td>
				<td><span class="label{% if compact %} label--small{% endif %}">{{ item.line.name }}</span></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<div class="title_bar">
	{% case trmnl.plugin_settings.custom_fields_values.provider %}
		{% when 'BSAG' %}
			{% render "logo_bsag", size: logo_size %}
		{% else %}
			{% render "logo_vbn", size: logo_size %}
	{% endcase %}
	<span class="title">{% if show_provider %}{{ trmnl.plugin_settings.custom_fields_values.provider }} - {% endif %}{{ departures[0].stop.name | truncate: 45 }}</span>
	<span class="instance">{{ realtimeDataUpdatedAt | date: '%s' | plus: trmnl.user.utc_offset | date: "%H:%M" }}</span>
</div>
{% endtemplate %}

{% template icon_walk %}
{% if size > 0 %}{% assign icon_size = size %}{% else %}{% assign icon_size = 24 %}{% endif %}
	<img class="image" width="{{ icon_size }}" height="{{ icon_size }}" src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23000" viewBox="0 -960 960 960"><path d="m280-40 112-564-72 28v136h-80v-188l202-86q14-6 29.5-7t29.5 4q14 5 26.5 14t20.5 23l40 64q26 42 70.5 69T760-520v80q-70 0-125-29t-94-74l-25 123 84 80v300h-80v-260l-84-64-72 324h-84Zm260-700q-33 0-56.5-23.5T460-820q0-33 23.5-56.5T540-900q33 0 56.5 23.5T620-820q0 33-23.5 56.5T540-740Z"/></svg>' />
{% endtemplate %}

{% template logo_vbn %}
{% if size > 0 %}{% assign logo_size = size %}{% else %}{% assign logo_size = 30 %}{% endif %}
	<img class="image image-stroke image-stroke--small" width="{{ logo_size }}" height="{{ logo_size }}" src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.898" height="78.897" viewBox="192.444 134.64 78.898 78.897"><path fill="%23fff" d="M194.294 211.25h74.918v-74.688h-74.918v74.688Z"/><path fill="none" stroke="%23e60005" stroke-width="1.053" d="m209.642 186.627 17.304-17.306 9.858 9.858-17.296 17.296m34.86-34.947a25.763 25.763 0 0 0-9.894-9.854"/><path fill="%23fff" d="M207.105 191.277h4.639v-4.639h-4.64v4.64l.001-.001Z"/><path fill="%23fff" d="M204.96 189.133h4.64v-4.64h-4.64v4.64Zm9.858 10.088h4.639v-4.639h-4.64v4.64l.001-.001Z"/><path fill="%23fff" d="M217.196 201.194h4.639v-4.64h-4.64v4.64h.001Zm25.05-49.522h4.64v-4.639h-4.64v4.64-.001Zm12.118 12.061h4.639v-4.639h-4.64v4.64l.001-.001Z"/><path fill="%23e73300" d="M232.007 148.447c-14.162 0-25.641 11.479-25.641 25.64 0 4.556 1.192 8.832 3.276 12.54l17.304-17.306 9.858 9.858-17.296 17.296a25.504 25.504 0 0 0 12.5 3.254c14.161 0 25.64-11.479 25.64-25.641 0-14.162-11.479-25.641-25.64-25.641"/><path fill="%231b1c20" d="M271.342 134.64h-78.898v78.897h78.898V134.64Zm-4.602 74.297h-61.148v-9.206h-8.545v-60.488H256.9l-12.477 12.477a25.722 25.722 0 0 1 9.85 9.858l12.467-12.469v59.828"/><path fill="%231b1c20" d="m194.647 201.621 32.3-32.3 9.857 9.858-32.3 32.3-9.857-9.858"/></svg>' />
{% endtemplate %}

{% template logo_bsag %}
{% if size > 0 %}{% assign logo_size = size %}{% else %}{% assign logo_size = 30 %}{% endif %}
	<img class="image image-stroke image-stroke--small" width="{{ logo_size }}" height="{{ logo_size }}" src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="103.457" height="71.069" viewBox="184.199 224.797 103.457 71.069"><defs><clipPath id="a"><path d="M.06 841.98h595.32V.06H.06v841.92z"/></clipPath></defs><g stroke-width=".105" clip-path="url(%23a)" transform="matrix(2.30817 0 0 -2.30817 63.278 2135.708)"><path stroke="%23000" d="M88.299 819.82h-5.904c-.176 0-.355-.01-.536-.03-2.578-.2-5.58-1.86-8.522-3.99-2.656-1.93-5.188-3.98-7.616-3.98h-1.135a10.168 10.168 0 0 1 3.238-6.8c2.884.5 5.016 1.91 7.402 3.49 3.113 2.06 5.264 4.28 7.619 4.28H97.21v7.03h-8.911zM59.371 811.82h-6.983l.007-6.99 8.998.01a15.272 15.272 0 0 0-2.022 6.98z"/><path fill="%23ec1b24" stroke="%23ec1b24" d="M84.934 812.79c.003-.1.008-.19.008-.29 0-5.63-4.563-10.19-10.19-10.19-5.628 0-10.19 4.56-10.19 10.19 0 5.62 4.562 10.19 10.19 10.19 2.765 0 5.271-1.11 7.107-2.9.181.02.36.03.536.03h5.904a15.386 15.386 0 0 1-13.547 8.07c-8.503 0-15.397-6.89-15.397-15.39 0-8.51 6.894-15.4 15.397-15.4s15.396 6.89 15.396 15.4c0 .1-.002.19-.004.29h-5.21z"/><path stroke="%23000" d="M88.299 819.82h-5.904c-.176 0-.355-.01-.536-.03-2.578-.2-5.58-1.86-8.522-3.99-2.656-1.93-5.188-3.98-7.616-3.98 0 0 7.119-4.89 9.505-3.31 3.113 2.06 5.264 4.28 7.619 4.28H97.21v7.03h-8.911z"/></g></svg>' />
{% endtemplate %}
